* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #6BCA66;
}

h2 {
    text-align: center;
    margin-top: 20%;
    color: white;
}

h4 {
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 40px;
}

.klimamaal {
    width: 400px;
    position: absolute;
    left: 30%;
}

.slider-wrapper {
    width: 33%;
    margin: auto;
    overflow: hidden;
  }

.slider-container {
    display: flex;
    width: 100%;
    height: auto;
}

