* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
}

body {
    background-color: #6BCA66;
    margin: auto;
    width: 100%;
    font-family: Europa;
}

h2 {
    text-align: center;
    margin-top: 20%;
    color: white;
    font-size: 32px;
}

h4 {
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 40px;
    font-size: 16px;
}

.klimamaal {
    width: 100%;
}

.slider-wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

.slider-container {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 60px;
}

#prevBtn {
    position: relative;
    top: 230px;
    left: 35px;
    z-index: 10;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

#nextBtn {
    position: relative;
    top: 230px;
    z-index: 10;
    left: 313px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.laesmere {
    display: inline-block;
    background-color: #FFF;
    border: 1px black;
    text-align: center;
    color:#6BCA66;
    font-size: 16px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    position: relative;
    left: 33%;
    margin-bottom: 100px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.linje {
border: 1px solid white;
width: 100px;
margin: auto;
position: relative;
background-color: #FFF;
}